@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --colorHeader: #02108b;
    --fuente: 'Verdana','Sans-serif';
    --colorFooter: #02108b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}